html
{   
    height: 100%;
    background: #7b7a7c;

}		

h1
{
    font-size: 80px; 
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.block
{
    text-align: center;
    line-height: 10rem;  
    list-style: none;
}

button {
  display: inline-block;
  border-radius: 30px;
  background-color: #FFFFFF;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  cursor: pointer;
  margin: 5px;
  margin-right: 40px;
  text-transform: uppercase;
  outline: none;
  font-family: 'Oswald', sans-serif;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}

button:hover
{
    background-color: #076DFF;
  color: #fff;
}

button:hover span {
  padding-right: 25px;
  
}

button:hover span::after {
  opacity: 1;
  right: 0;
}